.yardoc
.idea
.idea/*
rerun.txt
tmp
tmp/*
.eprj
pkg/*
doc/*
*.gem
.bundle
Gemfile.lock
Gemfile.*.lock
pkg/*
test/applicationhost.config
.rvmrc
.ruby-version
.ruby-gemset
.DS_Store
*ReSharper*
*.suo
obj
*.pdb
test/RubyODataService/RubyODataService/bin/*.xml
test/RubyODataService/RubyODataService/App_Data/*.sdf
coverage/*
vendor
